@model IEnumerable<psk_1.Models.Соусы>

@{
    ViewBag.Title = "Index";
}

<h2>Соусы</h2>

<p>
    @Html.ActionLink("Создать новый", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Поиск по названию: @Html.TextBox("SearchString")
        <input type="submit" value="Поиск" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Название", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Номер партии", "Index", new { sortOrder = ViewBag.BatchNumberSortParm })
        </th>
        <th>
            @Html.ActionLink("Дата производства", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Название)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.НомерПартии)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДатаПроизводства)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.СоусId }) |
                @Html.ActionLink("Детали", "Details", new { id = item.СоусId }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.СоусId })
            </td>
        </tr>
    }

</table>

